/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

    .menu:before {
        content: "[";
    }

    .menu:after {
        content: "]";
    }

    .menu > li {
        display: inline;
    }

        .menu > li + li:before {
            content: "|";
            padding-right: 0.3em;
        }

.pagination li {
    border: 1px solid var(--bs-primary);
    min-width: 34px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
}

    .pagination li a {
        text-decoration: none;
    }

    .pagination li.active {
        background-color: var(--bs-primary);
    }

        .pagination li.active a {
            color: var(--bs-white);
        }

    .pagination li.disabled {
        border: 1px solid var(--bs-gray-200);
        background-color: var(--bs-gray-400);
    }

        .pagination li.disabled a {
            color: var(--bs-gray-600);
        }

.table td {
    padding: 5px 10px;
}

.table tbody tr:not(.selected):hover {
    background-color: #96b6e6;
}

.table tbody tr.selected {
    background-color: #6296e4;
}

.favourite {
    color: gold;
}