<div ng-click="callback(columnTag)">
    <span ng-if="sortedColumn === columnTag && sortAsc">&#x25B2;</span>
    <span ng-if="sortedColumn === columnTag && !sortAsc">&#x25BC;</span>
    <ng-transclude></ng-transclude>
</div>