﻿<div ng-if="error">
    Error...
</div>
<div ng-if="loading">
    Loading...
</div>

<div ng-if="!loading && !error">
    <form>
        <label for="filterText">
            Filter:
            <input type="text" id="filterText" ng-model="model.filter" />
        </label>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th
                    sortable-column
                    sorted-column="{{sortedColumn}}"
                    sort-asc="sortAsc"
                    column-tag="Title"
                    callback="onSortClick">
                    Title
                </th>
                <th sortable-column
                    sorted-column="{{sortedColumn}}"
                    sort-asc="sortAsc"
                    column-tag="Year"
                    callback="onSortClick">
                    Year
                </th>
                <th sortable-column
                    sorted-column="{{sortedColumn}}"
                    sort-asc="sortAsc"
                    column-tag="imdbID"
                    callback="onSortClick">
                    IMDB
                </th>
                <th>Favourites</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="data && data.data"
                ng-repeat="row in data.data"
                table-row
                data=row
                favourite=isFavourite(row.imdbID)
                on-select=onSelect />
            <tr ng-if="!data || !data.data || !data.data.length">
                <td colspan="4">No results</td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination
        ng-model="model.page"
        ng-change="onPageChange()"
        force-ellipses="true"
        boundary-links="true"
        max-size="5"
        items-per-page="data.per_page"
        total-items="data.total"></ul>
    <button class="btn-primary" ng-click="addToFavourites()">Add to favourites!</button>
</div>