.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination-bar {
  display: block;
  text-align: left;
}

.pagination-bar ul {
  padding-left: 0;
}

.pagination-bar li {
  display: inline-flex;
  text-decoration: none;
  margin: 2px;
}

.pagination-bar li a {
  padding: 10px;
  font-weight: 600;
}

.pagination-bar li:not(.selected) {
  background-color: #61dafb;
}

.pagination-bar li.selected {
  background-color: #003442;
  color: white;
}

.pagination-bar li.disabled {
  background-color: #D0D0D0;
}

#filter-form {
  text-align: left;
}

#filter-form label {
  font-weight: 600;
}

#filter-form input {
  margin-left: 10px;
}

#table tr:hover {
  background-color: #b4d8e5;
}

#table tr.selected {
  background-color: #7bbbd3;
}

#table td.favourite {
  color: gold;
}

.btn {
  padding: 10px;
  background-color: #61dafb;
  border-color: #7bbbd3;
  border-radius: 0;
}

#table-page {
  padding: 20px;
  text-align: left;
}